<!-- public/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Contacts</title>

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css"> <!-- custom styles -->

    <!-- JS -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script> -->

</head>

<body>

    <div class="container" ng-app="app">
      <header ng-include="'templates/nav.html'"></header>

      <div ui-view></div>
    </div>

        <!-- <script src="libs/jquery/dist/jquery.js"></script>

        <script src="libs/angular/angular.js"></script>
        <script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="libs/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.1.js"></script>
        <script src="libs/angular-file-upload/dist/angular-file-upload.js"></script> -->
        <!-- <script src="libs/bootstrap/js/tooltip.js"></script>
        <script src="libs/bootstrap/js/popover.js"></script> -->
        <!-- <script src="javascripts/app.js"></script>

        <script src="javascripts/services/getContacts.js"></script>
        <script src="javascripts/services/ValidateFields.js"></script>
        <script src="javascripts/services/IndexOfObject.js"></script>

        <script src="javascripts/directives/uploadDirectives.js"></script>
        <script src="javascripts/services/uploadService.js"></script> -->
        <script src="javascripts/scripts.min.js"></script>

        <!-- <script src="libs/ng-file-upload/ng-file-upload-shim.js"></script>
        <script src="libs/ng-file-upload/ng-file-upload.js"></script> -->



        <!-- <script src="javascripts/controllers/homeCtrl.js"></script>
        <script src="javascripts/controllers/addCtrl.js"></script> -->
        <!-- <script src="javascripts/directives/contactCard.js"></script> -->



</body>

</html>
