<!-- public/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Contacts</title>

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css"> <!-- custom styles -->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body>


    <div class="container" ng-app="app">
      <header ng-include="'templates/nav.html'"></header>

      <div ui-view></div>
    </div>


        <script src="javascripts/scripts.min.js"></script>



</body>

</html>
