<!-- <h1>{{appTitle}}</h1> -->
<div class="row">
    <fieldset>
        <div class="col-sm-6">



            <div class="form-group">
                <label for="fnInput"> *First Name:</label> <input class="form-control" placeholder="Enter First Name" id="fnInput" uib-popover="{{popValues.fnText}}" popover-is-open="popValues.fnPop" popover-placement="top" type="text" ng-model="toAdd.firstName"
                />
            </div>

            <div class="form-group">

                <label for="lnInput"> *Last Name:</label> <input class="form-control" placeholder="Enter Last Name" id="lnInput" uib-popover="{{popValues.lnText}}" popover-is-open="popValues.lnPop" popover-placement="right" type="text" ng-model="toAdd.lastName"
                />
            </div>

            <div class="form-group">
                <label for="emailInput">*Email: </label><input id="emailInput" class="form-control" placeholder="Enter Email" uib-popover="{{popValues.popoverEmailText}}" popover-is-open="popValues.emailPop" popover-placement="bottom" type="text" ng-model="toAdd.email"
                />
            </div>
            <div class="form-group">
                <label for="phoneInput">Phone: </label><input id="phoneInput" class="form-control" placeholder="Enter Phone Number" type="text" ng-model="toAdd.phone" />
            </div>
            <div class="form-group">
                <label for="datePicker">Birthday:</label>
                <!-- <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre> -->

                <span class="input-group">
                <input placeholder="mm/dd/yyyy"popover-is-open="popValues.datePop" popover-placement="bottom" uib-popover="{{popValues.popoverDateText}}" id="datePicker" type="text" class="form-control" uib-datepicker-popup="{{datePicker.format}}" ng-model="datePicker.dt"  ng-change="datePicker.changeDate()" is-open="datePicker.popup1.opened" datepicker-options="datePicker.dateOptions" ng-required="true" close-text="Close" alt-input-formats="datePicker.altInputFormats" e-init-date="false" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="datePicker.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </span>
            </div>


        </div>
        <div class="contact-col col-sm-6">

            <div class="form-group">
                <label for="picInput"> Profile Picture:</label> <button class="form-control" id="picInput" type="file" ngf-select="queueImage($file, $invalidFiles)" accept="image/*">{{queuedImage.name || "Browse"}}</button>&nbsp;<span></span>
            </div>



            <div class="form-group">

                <label>Groups:</label>
                <div class="btn-group"><button ng-repeat="option in optionsList" class="btn" ng-class="option.buttonClass" ng-click="addGroup($index)">  {{option.value}}</button></div>


            </div>

            <div class="form-group">

                <div>
                    <label for="addComment">Comments: </label><textarea placeholder="Enter comments..." id="addComment" class="form-control" maxlength="2000" type="textarea" ng-model="toAdd.comments">Enter text here...</textarea><br /><br />
                </div>
            </div>


            <strong class="pull-right">
                * required fields
            </strong>
        </div>


    </fieldset>
</div>



<button ng-click="addContact()" class="btn btn-success">Add Contact</button>
<button ng-click="cancel()" class="btn btn-danger">Cancel</button>








<!-- <div id="addWindow" ng-include="modalValues.template">

</div> -->


<add-modal modal-values="modalValues"></add-modal>
