<!-- <h1>{{appTitle}}</h1> -->
<div class="row">

  <div class="col-sm-6">
    *First Name: <input uib-popover="{{fnText}}"
    popover-is-open="fnPop" popover-placement="top" type="text" ng-model="toAdd.firstName" /><br /><br />
    *Last Name: <input uib-popover="{{lnText}}"
    popover-is-open="lnPop" popover-placement="right" type="text" ng-model="toAdd.lastName" /><br /><br />
    *Email: <input uib-popover="{{popoverEmailText}}"
    popover-is-open="emailPop" popover-placement="bottom" type="text" ng-model="toAdd.email" />
    <br /><br />

    Phone: <input type="text" ng-model="toAdd.phone" /><br /><br />


    Birthday:
    <!-- <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre> -->

    <span class="input-group">
      <input placeholder="mm/dd/yyyy"popover-is-open="datePop" popover-placement="bottom" uib-popover="{{popoverDateText}}" id="datePicker" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt"  ng-change="changeDate()" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" e-init-date="false" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </span><br />




  </div>
  <div class="contact-col col-sm-6">

      <!-- <input type="file" ng-file-select="onFileSelect($files)" multiple> -->








        <!-- <input type = "file" file-model = "myFile" onchange="angular.element(this).scope().fileNameChanged(myFile)"/>
        <button ng-click = "uploadFile()">upload me</button> -->




  Profile Picture:<button type="file" ngf-select="queueImage($file, $invalidFiles)" accept="image/*" >Select File</button>&nbsp;<span>{{queuedImage.name}}</span>
<br /><br />
<br />











    Groups: <div class="btn-group" ><button ng-repeat="option in optionsList" class="btn" ng-class="option.buttonClass" ng-click="addGroup($index)">  {{option.value}}</button></div>
    <!-- <select ng-options="indx as option for (indx, option) in optionsList" ng-model="addToGroup" ng-change="addGroup(addToGroup)">

    </select> -->
    <br /><br />
    <div>
      <span class="align-top">Comments: </span><textarea id="addComment" maxlength="2000" type="textarea" ng-model="toAdd.comments">Enter text here...</textarea><br /><br />
    </div>
  </div>
</div></br>
<p>
  * required fields
</p>
<br /><br />


<button ng-click="addContact()" class="btn btn-success">Add Contact</button>
<button ng-click="cancel()" class="btn btn-danger">Cancel</button>








<div id="addWindow" ng-include="addWindow">

</div>
