<div id="contactDetailsOverlay" ng-click="hideDetails()">
  <div id="contactDetails" ng-click="$event.stopPropagation();">
    <img ng-src="{{getProfilePic(detailArr._id)}}" />
    <li>First Name: {{detailArr.firstName}}</li>
    <li>Last Name: {{detailArr.lastName}}</li>
    <li>Email: {{detailArr.email}}</li>
    <li ng-class="showDetail(detailArr.phone)">Cell: {{detailArr.phone}}</li><br />
    <li ng-class="showDetail(detailArr.birthday)">Date of Birth: {{readBirthday(detailArr.birthday)}}</li>
    <li ng-class="showDetail(detailArr.groups[0])" >Group:<ul>

    <li ng-repeat="group in detailArr.groups">{{group}}</li> </ul></li>
    <li ng-class="showDetail(detailArr.comments)">Comments: {{detailArr.comments}}</li>



  </div>
</div>
