<!--
  <h1>
    {{appTitle}}
  </h1> -->
<div>

    <!-- First Name: <input class="form-control" type="text" ng-model="filterValue.firstName" /> -->

    <div class="row">
        <div class="col-md-7 col-sm-6">
            <div class="input-group">
                <div uib-dropdown on-toggle="toggled(open)" class="input-group-btn search-panel">
                    <span class="btn btn-default dis-btn-hover-effect">Filter By:</span>
                    <button uib-dropdown-toggle type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      	<span id="search_concept">{{filterObj.filterGroupName || "All"}}</span> <span class="caret"></span>
                      </button>
                    <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                        <li><a ng-click="filterObj.changeFilterGroup()">All</a></li>
                        <li ng-repeat="filter in sorters"><a ng-click="filterObj.changeFilterGroup($index)">{{filter.proper}}</a></li>

                    </ul>
                </div>
                <input ng-model="filterObj.filterText" ng-change="getFilterLength()" type="text" class="form-control" name="x" placeholder="filter term...">

            </div>
        </div>
        <div class="col-md-5 col-sm-6 form-group">

            <div id="sort-group" class="pull-right">
                <label>
              Sort By:
            </label>
                <div class="btn-group">
                    <button ng-repeat="sorter in sorters" ng-click="sortBy($index)" class="btn" ng-class="sortByClass() == $index ?'btn-primary' :  'btn-default'">{{sorter.proper}}</button>

                </div>
            </div>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-4 flip-container" ng-repeat="contact in  (valuefiltered = (contacts | orderBy:sortType() | filter: filterObj.getFilterVal())) | startFrom:(pageValues.currentPage-1)*pageValues.itemsPerPage | limitTo:pageValues.itemsPerPage">

        <div class="contact-grid well" ng-class="flipperClass($index)">
            <!-- <span class="glyphicon glyphicon-remove close-rpWindow"></span> -->
            <div ng-include="getDeletePop($index)">

                <!-- ng-class="{'hidden': currentPage !== $index}" -->

            </div>

        </div>

    </div>
</div>

<ul ng-class="{'hidden': pageValues.totalItems <= pageValues.itemsPerPage}" uib-pagination total-items="pageValues.totalItems" items-per-page="pageValues.itemsPerPage" ng-model="pageValues.currentPage" ng-change="pageValues.pageChanged()"></ul>


<div id="contactDetailsContainer" ng-include="contactDetails">

</div>




<logout-window></logout-window>
<show-Details detail-contact="detailContact"></show-Details>
