<!--
  <h1>
    {{appTitle}}
  </h1> -->
  <span>
    Sort By:
  </span>
  <div class="btn-group">
    <button  ng-repeat="sorter in sorters" ng-click="sortBy($index)" class="btn" ng-class="sortByClass() == $index ?'btn-primary' :  'btn-default'">{{sorter.proper}}</button>

  </div>

  <div class="row">
    <div class="col-sm-4 flip-container" ng-repeat="contact in contacts | orderBy:sortType()">
      <div class="contact-grid well" ng-class="flipperClass($index)">
        <!-- <span class="glyphicon glyphicon-remove close-rpWindow"></span> -->
        <div  ng-include="getDeletePop($index)">



        </div>

      </div>

    </div>
  </div>


  <div id="contactDetailsContainer" ng-include="contactDetails">

  </div>

  <!-- <div id="confirmDeleteWindow" ng-class="confirmDeleteClass">
    <h2>Are you user you want to delete this contact?</h2>
    <button  ng-click="confirmDelete(true, $index)" class="btn btn-success">Yes</button>  <button ng-click="confirmDelete(false)" class="btn btn-danger">No</button>

  </div> -->

<!-- <div ng-include="deletePopup">

</div> -->
